<head>
  <title>Ingots</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body class="left flex-container">
  <div class="check-in centered-text">
    <h1 class="header"> Check-In</h1>
    <div class="file-input centered centered-text">
      <form method=post enctype=multipart/form-data>
        <input type="file" name="file" id="file" class="file">
        <input type=submit value=Upload class="button color_primary">


      
      <!-- <label for="file">Select a file</label> -->
      </form>
      <div class="centered notification">
        {% if message %}
        {{ message }}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="check-out centered">
    <div>
    <h1 class="header centered-text color_primary"> Check-Out</h1>
    <ol>
      {% for file in files %}
      <li>
        <a href="/uploads/{{file}}">{{file}}</a>
      </li>
      {% endfor %}
    </ol>
  </div>
</body>


