<head>
  <title>Ingots</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body class="left flex-container">
  
  <div class="check-in centered-text">
    <div class="file-input centered centered-text">
      <div class="file-input-header">
        <h1 class="header"> Check-In</h1>
      </div>
      <div class="file-input-form">
        <form method=post enctype=multipart/form-data>
          <div class="form-inputs flex-container centered-text centered">
            <div class="form-input"><input type="file" name="file" id="file" class="file"></div>
            <div class="form-input"><input type=submit value=Upload id="submit" class="button color_primary"></div>
            <div class="centered notification">
              {% if message %}
              {{ message }}
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="check-out centered">
      <h1 class="header centered-text color_primary"> Check-Out</h1>
      <ol>
      {% for file in files %}
      <li>
        <a href="/uploads/{{file}}">{{file}}</a>
      </li>
      {% endfor %}
    </ol>
  </div>
</body>


