.flex-container {
  display: flex;
  flex-direction:column

}

.check-in {
  background-color: whitesmoke;
  border: 0.1rem solid gray;
}

.button{
  transition-duration: 0.4s;
  /* border: solid 2px goldenrod; */
  text-decoration: none;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.file {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  /* color: goldenrod;  */


}
/* .file {
  opacity: 0;
  width: 0.0px;
  height: 0.0px;
} */

/* .file-input label{
  transition-duration: 0.4s;
  color: goldenrod;
  border: solid 2px goldenrod;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 180px;
} */
.form-input {
  color: rebeccapurple;
  width: 50%;
  margin: 5px auto;

}

.button:hover,.file-input label:hover {
  background-color: purple;
  color: white;
}

a {
  font-family: monospace;
  color: purple;  
}
li {
  padding:0.5rem
}
.header {
  color: peru;
  padding: 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.centered {
  max-width: 500px;
  margin: auto;
}

.left {
  float: left; 
  width: 50%
}


.centered-text {
    text-align:center;
}











.notification {
  color: goldenrod;
  transition-duration: 0.4s;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 25px;
}

body {
  background-image: url('books.jpg');
  background-position: center;
  background-size: cover;


}
